<?php
header('Cache-Control: no cache');
$param = App::getRouter()->getParams();
if(!$param){
?>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div id="res"></div>
<script>
    $( document ).ready(function() {
        timerId;
    });
    var request = new XMLHttpRequest();

    function reqReadyStateChange() {
        if (request.readyState == 4) {
            var status = request.status;
            if (status == 200) {
                console.log(request);
                if (request.responseText != "") {
                    $('#res').html(request.responseText);

                    statusColor(); //dashboard_status_color
                    
                    
                    if (document.getElementById("transactionStatus")) {
                        var x = document.getElementById("transactionStatus").value;
                        if (x == 1) {
                            document.getElementById('transactionStatus').checked = true;
                        }
                        var y = document.getElementById("transactionStatus");
                        if (y.dataset.stat == 1) {
                            y.setAttribute('value', 'Новая');
                        }
                        if (y.dataset.stat == 2) {
                            y.setAttribute('value', 'Назначено');
                        }
                        if (y.dataset.stat == 3) {
                            y.setAttribute('value', 'Состоялась');
                        }
                        if (y.dataset.stat == 4) {
                            y.setAttribute('value', 'Отменена');
                        }
                        console.log(y.dataset.stat);
                    }
                    else {
                        //$('#res').html(request.responseText); - строка для дебага вывовода в dashboard
                        $('#res').html("В этом разделе заявок нет");
                    }
                }

            }
        }
    }

    var timerId = setInterval(function() {
        request.open("GET", "/webroot/getCanc.php");
        request.onreadystatechange = reqReadyStateChange;
        request.send();

    }, 1000);
</script>
<?}
else{

?>
<div class="group-control row">
    <div class="col-sm-12">
        <?if(!empty($data['getDealByID']['notarfName'])) {?>
        <div class='form-group col-sm-4 col-sm-offset-2'>
            <label>Нотариус:</label>
            <a href='/admin/users/list_notary/<?=$data["getDealByID"]["notarID"]?>/'><?=$data['getDealByID']['notarfName'] . ' ' . $data['getDealByID']['notarsName'] . '
            ' . $data['getDealByID']['notarmName']?></a>
        </div>
        <?}?>
        <div class='form-group col-sm-4'>
            <label>Пользователь:</label>
            <a href='/admin/users/list_c_users/<?=$data["getDealByID"]["userID"]?>/'><?=$data['getDealByID']['fName'] . ' ' . $data['getDealByID']['sName'] . '
             ' . $data['getDealByID']['mName']?></a>
        </div>
    </div>

    <div class='form-group col-sm-12'>
        <div class='panel panel-default col-sm-4 col-sm-offset-4' style='padding: 15px 0'>
            <div class='panel-bogy'>
                <div class="gruoup-control col-sm-12">
                    <label for="name">Услуга</label>
                    <input type="text" id="name" class="form-control" value="<?=$data['getDealByID']['name']?>" readonly>
                </div>
                <div class="gruoup-control col-sm-12">
                    <label for="date">Дата</label>
                    <input type="text" id="date" class="form-control" value="<?=$data['getDealByID']['dateOf']?>" readonly>
                </div>
                <div class="gruoup-control col-sm-12">
                    <label for="time">Время</label>
                    <input type="text" id="time" class="form-control" value="<?=$data['getDealByID']['timeOf']?>" readonly>
                </div>
                <div class="gruoup-control col-sm-12">
                    <label for="sum">Сумма</label>
                    <input type="text" id="sum" class="form-control" value="<?=$data['getDealByID']['cost']?>" readonly>
                </div>
                <div class="gruoup-control col-sm-12">
                    <label for="fsum">Фин. Сумма</label>
                    <input type="text" id="fsum" class="form-control" value="<?=$data['getDealByID']['finalCost']?>" readonly>
                </div>
                <div class="gruoup-control col-sm-1" style="width:100px;">
                    <label for="place">На дому</label>
                    <input type="checkbox" class="form-control" id="place" value="<?=$data['getDealByID']['place']?>">
                </div>
                <div class="gruoup-control col-sm-12">
                    <label for="transactionStatus">Статус</label>
                    <input type="text" class="form-control" id="transactionStatus" data-stat="<?=$data['getDealByID']['transactionStatus']?>" readonly>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <h3 class="text-center">Состояние изменеия сделки</h3>
    <table class="table table-striped table-bordered" style="width: 100%;">
        <tr>
            <td style="width: 10%;">Время изменения</td>
            <td style="width: 10%;">Дата измеенния</td>
            <td style="width: 10%;">Состояние</td>
        </tr>
        <?php foreach($data['state'] as $item) { ?>
        <tr>
            <td><?=$item['timeChange']?></td>
            <td><?=$item['dateChange']?></td>
            <td><?
            if($item['stat']==1){echo "Новая";}
            elseif($item['stat']==2){echo "Назначена";}
            elseif($item['stat']==3){echo "Состоялась";}
            elseif($item['stat']==4){echo "Отменена";}
            ?></td>
        </tr>
        <?php } ?>
    </table>
</div>
<script>
    var x = document.getElementById("place").value;
    if(x==1){
        document.getElementById('place').checked = true;
    }
    var y = document.getElementById("transactionStatus");
    if(y.dataset.stat==1){
        y.setAttribute('value', 'Новая');
    }
    if(y.dataset.stat==2){
        y.setAttribute('value', 'Назначено');
    }
    if(y.dataset.stat==3){
        y.setAttribute('value', 'Состоялась');
    }
    if(y.dataset.stat==4){
        y.setAttribute('value', 'Отменена');
    }
    console.log(y.dataset.stat);
</script>
<?}?>