<?php
header('Cache-Control: no-cache, no-store, must-revalidate'); // HTTP 1.1.
header('Pragma: no-cache'); // HTTP 1.0.
header('Expires: 0');
$param = App::getRouter()->getParams();
if($param){?>
<?
    foreach($data['getDealsByNotary'] as $item){
        $lodd[] = $item['id'];
    }
        if(in_array($param[0],$lodd)){
?>

    <h3 class="section-heading">Доступные заказы</h3>
    <form action="" method="post" class="form-group row">
                <!-- <input type="hidden" name="addServices" value="1"> -->
        <div class="form-group col-sm-1">
            <label for="servicesName">Услуга</label>
            <input type="text" id="servicesName" name="servicesName" class="form-control" value="<?=$data['getDealByID']['name'];?>" readonly>
            <input type="hidden" name="serviceID" id="serviceID" value="<?=$data['getDealByID']['serviceID']?>">
            <input type="hidden" name="deID" id="deID" value="<?=$data['getDealByID']['deID']?>">
        </div>
        <div class="form-group col-sm-2">
            <label for="date">Дата</label>
            <input type="date" id="date" name="date" class="form-control" value="<?=$data['getDealByID']['dateOf'];?>" readonly>
        </div>
        <div class="form-group col-sm-2">
            <label for="time">Время</label>
            <input type="time" id="time" name="time" class="form-control" value="<?=$data['getDealByID']['timeOf'];?>" readonly>
        </div>
        <div class="form-group col-sm-2">
            <label for="sum">Сумма</label>
            <input name="sum" id="sum" class="form-control" type="number" value="<?=$data['getDealByID']['cost'];?>" readonly>
        </div>
        <div class="form-group col-sm-2">
            <label for="fSum">Финальная сумма</label>
            <input name="fSum" id="fSum" class="form-control" type="number" value="<?=$data['getDealByID']['finalCost'];?>" readonly>
        </div>
        <div class="form-group col-sm-1">
            <label for="homeCheck" >На дом</label>
            <input  name="homeCheck" id="homeCheck" class="form-control"  value="<?=$data['getDealByID']['place']?>" type="checkbox"  style="width: 55px; margin: 0;">
        </div>
        <div class="form-group col-sm-2">
                <label>Коментарий от админа</label>
                <textarea readonly  class="form-control" ><?=$item['adKom'];?></textarea>
            </div>
    </form>

    <script>
        var deID = document.getElementById("homeCheck");
        if(deID.getAttribute('value')==1) {
            document.getElementById('homeCheck').checked = true;
        }
    </script>
<?}
else{
    Router::redirect('/notary/dashboard/');
}}?>