<?php
header('Cache-Control: no-cache, no-store, must-revalidate'); // HTTP 1.1.
header('Pragma: no-cache'); // HTTP 1.0.
header('Expires: 0');
?>

<!-- <h1 class="page-header">Добавление списка груп нотариусов</h1> -->

<div class="service-add">
    <h3 class="section-heading">Создание груп нотариусов</h3>
    <form action="" method="post" class="form-group">
        <div class="row">
            <div class="form-group col-sm-3">
                <input type="text" class="form-control" name="name" placeholder="Название группы" required><br>
            </div>
            <div class="form-group col-sm-4">
                <textarea name="message" class="form-control" placeholder="Описание к группе"></textarea>
            </div>
            <a  href="/admin/users/tax/<?=$data['id']?>"><button class="btn btn-primary col-sm-1">Добавить</button></a>
        </div>
    </form>
</div>

<h3 class="section-heading">Таблица со списком груп нотариусов</h3>

<div class="limiter queries_margin_top">
    <div class="container-table100">
        <div class="wrap-table100">

            <div class="table100 ver6 m-b-110">
                <table data-vertable="ver6">
                    <thead>
                    <tr class="row100 head">
                        <th class="column100 column1 user-list-th" data-column="column1">Номер</th>
                        <th class="column100 column2 user-list-th" data-column="column2">Название</th>
                        <th class="column100 column3 user-list-th" data-column="column3">Сообщение</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach($data['main'] as $item) { ?>
                    <tr class="row100">
                        <td class="column100 column1 admin-serv-td" data-column="column1">
                            <a class='cell__link' href="/admin/users/groups/<?=$item['id']?>"><?=$item['id']?></a>
                        </td>

                        <td class="column100 column2 admin-serv-td" data-column="column2">
                            <a class='cell__link' href="/admin/users/groups/<?=$item['id']?>"><?=$item['name']?></a>
                        </td>

                        <td class="column100 column3 admin-serv-td" data-column="column3">
                            <a class='cell__link' href="/admin/users/groups/<?=$item['id']?>"><?=$item['descriptionAbout']?></a>
                        </td>
                    </tr>
                    <?php } ?>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

