<!--<div class="col-sm-6 col-sm-offset-3">-->
    <!--<div class="page-header">-->
        <!--<h3>Notary password recovery</h3>-->
    <!--</div>-->
    <!--<form method="post" action="">-->
        <!--<div class="form-group">-->
            <!--<label for="recoveryStr">Поле для востановления</label>-->
            <!--<input type="text" id="recoveryStr" name="recoveryStr" class="form-control" placeholder="Введите логин или имейл" />-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<input type="submit" class="btn btn-success" />-->
        <!--</div>-->
    <!--</form>-->

<!--</div>-->
<section class="password container__center">
    <form method="post" action="">
        <h2 class="section-heading password__section-heading">Забыли пароль?</h2>
        <input id="recoveryStr" name="recoveryStr"  class="password__input" type="text" placeholder="Введите Ваш номер телефона или E-mail">
        <button type="submit" class="site-button password__button">Востановить пароль</button>
    </form>
</section>