<?php
header('Cache-Control: no-cache, no-store, must-revalidate'); // HTTP 1.1.
header('Pragma: no-cache'); // HTTP 1.0.
header('Expires: 0')
?>
<div class="col-sm-6">
    <h3><?=$data['getNotaryServbyID']['name']?></h3>

    <form class="form-group" action="" method="post" style="width: 800px!important;    max-width: 800px!important;">
        <input type="hidden" name="updCoastA" value="1">
        <table class="table table-striped table-bordered" style="width: 100%;">
            <tr>
                <th style="width: 10%;">Цена услуги</th>
            </tr>
            <tr>
                <td><input name="costS" value="<?=$data['getNotaryServbyID']['costService']?>"></td>
            </tr>
        </table>
        <input type="submit" value="Обновить" class="btn btn-primary">
    </form>

    <form class="form-group" action="" method="post" style="width: 800px!important;    max-width: 800px!important;">
        <input type="hidden" name="updCoastAS" value="1">
        <table class="table table-striped table-bordered" style="width: 100%;">
            <tr>
                <th style="width: 10%;">Название доп услуги</th>
                <th style="width: 10%;">Цена доп услуг</th>
            </tr>
            <?php
            $arrayCostAS = explode(',',$data['getNotaryServbyID']['costAService']);
            $i=0;
             foreach($data['getAdditionalS'] as $item) { ?>
            <tr>
                <td><?=$item['name']?></td>
                <td><input name="costAS-<?=$item['id'];?>" value="<?=$arrayCostAS[$i]?>"></td>
            </tr>
            <?php $i++;} ?>
        </table>
        <input type="submit" value="Обновить" class="btn btn-primary">
    </form>
</div>