<?/*
<h3 class="section-heading password__section-heading">User Register</h3><br/>
<form method="post" action="">
    <div class="form-group">
        <label for="login" class="change-password__label">Login</label>
        <input type="text" id="login" name="login" class="form-control" />
    </div>
    <div class="form-group">
        <label for="password" class="change-password__label">Password</label>
        <input type="password" id="password" name="password" class="form-control" />
    </div>
    <input type="submit" class="site-button password__button" value="Регистрация"/>
</form>
*/?>
<section class="change-password">
    <h2 class="section-heading change-password__section-heading">Регистрация</h2>
    <form method="post" action="">
        <label for="change-password" class="change-password__label">Логин (Ваш номер телефона):</label>
        <input id="change-password__password" class="change-password__input" type="text"  name="login" placeholder="380000000000">

        <label for="change-password__new-password" class="change-password__label">Пароль:</label>
        <input id="change-password__new-password" class="change-password__input" type="password" name="password">

        <button type="submit" class="site-button change-password__button">Регистрация</button>
    </form>
</section>
