
@media screen and (min-width: 320px) and (max-width: 599px) {
	
	.shares-form-wrap {
		margin-top: 0;
		padding: 20px 30/360*100%;
		box-sizing: border-box;
	}
	
	.shares-form {
		flex-wrap: wrap;
		padding-bottom: 38px;

		&-container {
			width: 100%;
			height: auto;
			padding: 0 20px;
			box-sizing: border-box;
		}

		&__offer-wrap {
			width: 100%;
			margin: 0;
			padding: 0;
			padding: 20px 0;
			border-bottom: 1px solid $dark-gray;
		}

		&__search-wrap {
			width: 100%;
			margin-right: 0;
			padding: 20px 0;
			border: none;
			border-bottom: 1px solid $dark-gray;
			box-sizing: content-box;
		}

		&__district-wrap {
			margin-right: 0;
			margin-bottom: 38px;
			width: 100%;
			padding: 20px 0;
			border-bottom: 1px solid $dark-gray;
		}

		&__button {
			width: 150/305*100%;
			height: 32px;
			margin: 0 auto;
		}
	}

	.shares-select-menu {
		max-width: 250px;
		left: -36px;
	}

	.shares-page-share {
		margin-bottom: 0;
		padding-bottom: 8px;

		&__text {
			margin-top: 50px;
			text-align: center;
		}
	}

	.shares-list {
		margin-bottom: 30px;

		&__item {
			padding: 0 5px;
		}

		&-title {
			flex-wrap: wrap;

			&__text {
				width: 100%;
				margin-bottom: 15px;
			}

			&__name {
				font-size: 18/16*1rem;
				font-weight: 400;
				margin-top: 0;
			}

			&__price-wrap {
				width: 100%;
				justify-content: center;
			}
		}

		&-title-meta {
			&__zavireno {
				width: 160/350*100%;
				font-size: 0.7rem;
			}
		}
	}

	.shares-list-notary {
		position: relative;

		&-info {
			width: 100%;

			&__photo {
				margin-right: 0;
				float: none;
			}

			&__name {
				margin-bottom: 6px;
			}

			&-location {
				width: 100%;
				position: relative;
				min-height: 75px;

				&__link {
					position: absolute;
				}
			}
		}

		&__button {
			position: absolute;
			width: 215/350*100%;
			margin: 0;
			right: 0;
			top: 38px;
			font-size: 24/16*1rem;
			height: 53px;
		}
	}

	.shares-list-notary-info-location__text_gray {
		position: absolute;
		top: 50px;
		margin: 0;
		right: 0;
		font-size: 0.8rem;
	}

	a.shares-list-notary-info-location__link {
		position: absolute;
		left: 0;
		top: 50px;
		font-size: 0.8rem;
	}

	a.shares-list-notary-info-location__link-map {
		left: 50px;
		top: 20px;
	}

	.shares-pagination {
		align-items: flex-start;
		height: 70px;
		margin-bottom: 30px;
	}
}
