
@media screen and (min-width: 320px) and (max-width: 767px) {
	.change-password__section-heading {
		background-color: #fff;
		color: $dark-gray;
		text-align: center;
	}
	.change-password {
		margin-top: 10px;
		width: 95%;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.change-password {
		width: 50%;
	}
}

@media screen and (max-width: 1366px) {
	.change-password__section-heading {
		font-size: 1.8rem;
	}
}


// @media screen and (min-height: 900px) {
// 	.change-password {
// 		margin-top: 4%;
// 	}
// }