
.fade {
	opacity: 0;
}
.fade-in {
	opacity: 1;
}

.slide-right-down {
	transform: translate(100%, 100%);
	opacity: 0;
}
.slide-right-down-in {
	transform: translate(0, 0);
	opacity: 1;
}

.slide-right {
	transform: translateX(50%);
	opacity: 0;
}
.slide-right-in {
	transform: translateX(0);
	opacity: 1;
}

.slide-left {
	transform: translateX(-50%);
	opacity: 0;
}
.slide-left-in {
	transform: translateX(0);
	opacity: 1;
}

.slide-top {
	transform: translateY(-10%);
	opacity: 0;
}
.slide-top-in {
	transform: translateY(0);
	opacity: 1;
}

.slide-bottom {
	transform: translateY(10%);
	opacity: 0;
}
.slide-bottom-in {
	transform: translateY(0);
	opacity: 1;
}

.bounce {
	transform: scale(0);
}

.bounce-in {
	transform: scale(1);
}

.width {
	width: 0;
}
.width-in {
	width: 100%;
}


.header-wrap {
	animation: page_load_bottom 2s 0.2s forwards;
}

// .head__heading {
// 	animation: page_load_left 2s 0.2s forwards;
// }

.head__form-wrap {
	animation: page_load_fade 3s 0.5s forwards;
}

@keyframes page_load_left {
	0% {
		transform: translateX(-15%);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes page_load_bottom {
	0% {
		transform: translateY(-50px);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes page_load_fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
.container {
	// overflow: hidden;
}

.tutorial-list__item_1 {
	transition: all 1.5s 0s;
}

.tutorial-list__item_2 {
	transition: all 1.5s 0.3s;
}

.tutorial-list__item_3 {
	transition: all 1.5s 0.6s;
}

.workers-slider-wrap, .share-slider-wrap, .services-slider-wrap, .categories-container {
	transition: all 1.5s 0s;
}

.categories-animation-wrap {
	transition: all 1s 0s;
}

.advantages__left {
	transition: all 1s 0s;
}

.advantages__right {
	transition: all 1s 0s;
}

.entry__text, .entry-icon-list {
	transition: all 0.6s 0s;
}

