@media screen and (min-width: 800px) {

	.container__center {
		margin-top: 0;
	}

}

@media screen and (min-width: 1024px) and (max-width: 1344px) {
	.header {
		&__button {
			font-size: 0.8rem;
		}
	}

	.social {
		&-list {

			&__icon {
				width: 25px;
				height: 25px;

				&_viber {
					width: 30px;
					height: 30px;

					&:hover {
						fill: #834995;
					}
				}
			}
		}
	}

	.menu {
		&__item {

			&-drop:after {
				border: none;
			}

			&-drop_gray:after {
				border: none;
			}
		}
	}

	.form-wrap {
		width: 90%;
	}

	.categories {
		padding: 20px 0 25px 0;

		&__section-heading {
			margin-bottom: 25px;
		}
	}

	.footer {

		&-clear {
			padding-bottom: 328px;
		}

		&-services-list {

			&__heading {
				&:after {
					width: 100%;
				}
			}
		} 

		&-client-list {
			&__heading {
				&:after {
					width: 160%;
				}
			}
		}

		&-phone-list {
			&__heading {
				&:after {
					width: 95%;
				}
			}
		}
	}

	@media screen and (max-width: 1220px) {
		.form-wrap {
			width: 100%;
		}

		a.categories-type__link {
			font-size: 0.8rem;
		}

		a.categories-subspecies__link {
			font-size: 0.8rem;
		}

		.footer {

			&__text {
				text-align: center;
			}

			&-clear {
				padding-bottom: 328px;
			}

			&-services-list {

				&__heading {
					&:after {
						width: 100%;
					}
				}
			} 

			&-client-list {
				&__heading {
					&:after {
						width: 160%;
						left: 62%;
					}
				}
			}

			&-phone-list {
				&__heading {
					&:after {
						width: 85%;
						left: 50%;
					}
				}
			}
		}
		a.footer-list__link {
			font-size: 0.8rem;
		}
	}
}


@media screen and (max-width: 1220px) {

	.header {
		justify-content: space-between;
		align-items: center;

		&__link {
			order: 1;
			width: 20%;
		}

		&__button-enter {
			width: 15%;
			order: 0;
		}

		&__button-question {
			width: 30%;
			margin-top: 50px;
			margin-right: 5%;
			color: #fff;
			border-color: #fff;
		}
	}

	.popup-form-wrap {
		width: 40%;
		height: auto;
	}

	.hamburger-open {
		display: block;
	}

	.hamburger-content {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100vh;
		padding: 0 10%;
		background-color: rgba(0, 0, 0, 0.9);
		z-index: 101;
		align-items: flex-start;
		justify-content: flex-start;
		flex-wrap: wrap;
		box-sizing: border-box;
		border-radius: 0 0 0 20%;
	}

	.social {
		width: 15%;
		margin-top: 50px;
		justify-content: space-between;
	}

	.menu {
		order: 2;
		width: 100%;
		flex-direction: column;
		align-items: flex-start;
		margin-top: -20%;

		&__item {
			margin-bottom: 20px;
		}

		&__link {
			font-size: 1.2em;
		}

		&-drop {
			left: 110%;
			top: 0;
		}
	}
	a.menu__link_gray {
		color: #fff;

		&:visited {
			color: #fff;
		}
	}

	.sign-in {
		width: 314px;
		z-index: 102;
		left: 0;

		&__button {
			width: 49.2%;
		}
	}
	a.sign-in-regist__link {
		font-size: 0.8rem;
	}
	.log-in {
		left: 0;
		width: 314px;
		z-index: 102;

		&__button {
			width: 49.2%;
		}
	}
}