
.personal-data {
	&__notary-menu {
		margin-top: 30px;
		margin-right: 35/1200*100%;
		width: 135/1200*100%;
		position: relative;
		z-index: 1;

		&:after {
			position: absolute;
			top: 0;
			right: 0;
			width: 1px;
			height: 100%;
			background-color: $dark-gray;
			content: "";
		}
	}
}

.notary-page-editing {
	width: 530/1200*100%;
	margin-right: 190/1200*100%;

	&__subheading {
		margin-bottom: 25px;
	}
	
}

.editing-form {
	width: 100%;
	@include flex(center, flex-start);
	flex-wrap: wrap;
	margin-bottom: 15px;

	&__input-wrap {
		width: 215/530*100%;
		margin-bottom: 5px;

		&:nth-child(odd) {
			margin-right:95/530*100%;
		}
	}

	&__input {
		border: none;
		width: 100%;
		height: 25px;
		margin-top: 5px;
		color: $gray;
		font: 1rem Roboto-Thin, Arial, sans-serif;
		border: 1px solid $gray;
		border-radius: 3px;
		box-sizing: border-box;
		padding-left: 5px;
		box-sizing: border-box;
	}

	&__label {
		color: $dark-gray;
		font: 1rem Roboto-Regular, Arial, sans-serif;
	}
}

.notary-data-wrapper {
	width: 302/1200*100%;
}	


.notary-page-password {
	padding: 20px 0 34px 0;
	width: 100%;
	margin-top: 75px;
	margin-bottom: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 1px solid $gray;
	border-radius: 3px;
	box-sizing: border-box;

	&-content {
		width: 72.5%;
		margin-right: 0;
		margin-bottom: 20px;
	}
}

.notary-page-photo {
	width: 100%;

	&__heading {
		margin-bottom: 8px;
		color: $dark-gray;
		font: 1rem Roboto-Regular, Arial, sans-serif;
	}

	&__image {
		max-width: 40%;
		margin-bottom: 10px;
	}

	&__info {
		color: $dark-gray;
		font: 1rem Roboto-Thin, Arial, sans-serif;
		margin-bottom: 15px;
	}

	&-add {
		display: inline-block;
		margin-right: 15/302*100%;

		&__input {
			display: none;
		}

		&__label {
			position: relative;
			padding: 5px 5px;
			border: 1px solid $gray;
			border-radius: 3px;
			cursor: pointer;
			color: $dark-gray;
			font: 1rem Roboto-Thint, Arial, sans-serif;
			transition: all 0.2s;

			&:hover {
				background-color: $btn-hover;
				color: #fff;
			}
		}
	}

	&__button {
		display: inline-block;
		width: 128px;
		padding: 4px 0;
		background-color: $dark-blue;
		font: 1rem Roboto-Thin, Arial, sans-serif;
		transition: all 0.2s;

		&:hover {
			background-color: $btn-hover;
		}
	}	
}

.notary-video {
	padding-top: 40px;

	&__section-heading {
		margin-bottom: 45px;
	}

	&-container {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	&-list-wrap {
		/*width: 618/1200*100%;*/
		width: 35%;
		max-height: 315px;
		display: flex;
		align-items: center;
	}

	&-list {
		width: 100%;
		box-sizing: border-box;

		&-content {
			width: 100%;
			display: flex;
			align-items: center;
		}

		&__video {
			width: 100%;
			height: 300px;
			margin-bottom: 12px;
			
			&:hover .notary-video-list__icon {
				fill: $dark-blue;
			}
		}

		&__video-wrap {
			/*width: 432/618*100%;*/
			width: 100%;
			text-align: center;
			/*margin-right: 60/618*100%;*/
		}

		&__icon {
			fill: #fff;
			cursor: pointer;
			width: 20%;
		}

		&__name {
			color: $dark-blue;
	    	font: 1rem Roboto-Regular, Arial, sans-serif;
		}

		&-del {
			position: absolute;
			right: 20%;
			text-align: center;
			cursor: pointer;

			&:hover .notary-video-list-del__text {
				font-weight: 600;
			}

			&__text {
				color: $gray;
				font: 10/16*1rem Roboto-Thin, Arial, sans-serif;
			}
		}
	}
}


.notary-page-services {
	position: relative;
	padding: 50px 0;

	&__section-heading {
		margin-bottom: 25px;
	}

	&-block {
		margin: 0;
		margin-bottom: 25px;
		position: relative;
		display: flex;
		width: 100%;
		height: 355px;
		left: 0;
		right: 0;
		top: 0;
		padding: 18px 25px;
		max-width: 100%;
		border: 1px solid $gray;
		border-radius: 3px;
		box-sizing: border-box;
	}

	&-select {
		box-shadow: none;
		
		&__heading {
			margin-bottom: 20px;
			text-align: center;
			color: $dark-gray;
			font: 24/16*1rem Roboto-Thin, Arial, sans-serif;
		}

		&-wrap {
			width: 605/1200*100%;
			float: left;
			margin-right: 35/1200*100%;
		}
	}

	&-selected {
		position: relative;
		height: 355px;
		padding-left: 5px;
		padding-right: 5px;
		box-sizing: border-box;

		&-wrap {
			width: 557/1200*100%;
			float: left;
		}

		&-list {
			width: 100%;
			max-height: 285/355*100%;
			overflow-y: auto;

			&__item {
				width: 100%;
				margin-bottom: 12px;

				&-content {
					@include flex(center, flex-start);
					margin-bottom: 10px;
				}
			}

			&__image {
				margin-right: 8px;
				cursor: pointer;
			}

			&__text {
				color: $dark-gray;
				font: 1rem Roboto-Regular, Arial, sans-serif;
			}

			&::-webkit-scrollbar {
				width: 9px;
			}

			&::-webkit-scrollbar-thumb {
				background-color: $gray;
				border-radius: 10px;

			}

			&::-webkit-scrollbar-track {
				border: 1px solid $gray;
				border-radius: 10px;
			}
		}

		&__button {
			position: absolute;
			bottom: 15px;
			left: 50%;
			transform: translateX(-50%);
			height: 37px;
			width: 275/557*100%;
			background-color: $dark-blue;
			font: 18/16*1rem Roboto-Regular, Arial, sans-serif;
			transition: all 0.2s;

			&:hover {
				background-color: $btn-hover;
			}

		}
	}

	&-table {
		width: 100%;
		direction: ltr;


		&-container {
			float: left;
			width: 100%;
		}

		&__heading {
			margin-bottom: 27px;
		}

		&-wrap {
			width: 100%;
			height: 308px;
			border: 1px solid gray;
			border-radius: 3px;
			box-sizing: border-box;
		}

		&_padding {
			width: 100%;
			padding: 0 20px;
			box-sizing: border-box;
			direction: ltr;

		}

		&_scroll {
			position: relative;
			padding: 0 20px;
			height: 250px;
			max-height: 250px;
			overflow-y: scroll;
			box-sizing: border-box;
			direction: rtl;

			&::-webkit-scrollbar {
				opacity: 0;
				width: 10px;
			}

			&::-webkit-scrollbar-thumb {
				background-color: $gray;
				border-radius: 10px;
			}

			&::-webkit-scrollbar-track {
				border: 1px solid $gray;
				border-radius: 10px;
			}
		}

		&-head {
			display: flex;
			width: 100%;
			height: 50px;
			padding: 0 40px;
			border-bottom: 1px solid $gray;
			box-sizing: border-box;

			&__cell {
				width: 14%;
				height: 100%;
				@include flex(center, center);
				text-align: center;
				color: $dark-gray;
				font: 18/16*1rem Roboto-Regular, Arial, sans-serif;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&_wide {
					width: 53%;
				}

				&_middle {
					width: 19%;
				}

				&:last-child {
					border-right: 0;
					border-bottom: 0;
				}
			}
		}

		&__row {
			width: 100%;
			border-bottom: 1px solid $gray;
		}

		&__cell {
			width: 14%;
			height: 40px;
			text-align: center;
			color: $dark-gray;
			font: 1rem Roboto-Thin, Arial, sans-serif;
			border-right: 1px solid $gray;

			&_wide {
				width: 51.9%;
			}

			&_middle {
				width: 19%;
			}

			&:last-child {
				border-right: 0;
			}
		}

		&__icon {
			cursor: pointer;
		}

		&__button {
			border: none;
			background-color: transparent;
			outline: none
		}
	}
}

.notary-page-orders {
	border-left: 1px solid $gray;
	border-right: 1px solid $gray;
	border-bottom: 1px solid $gray;
	margin-bottom: 40px;
}

.notary-page-orders-scroll {
	padding: 0 7px;
	// overflow: scroll;

	&::-webkit-scrollbar {
		width: 7px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $gray;
		border-radius: 10px;

	}

	&::-webkit-scrollbar-track {
		border: 1px solid $gray;
		border-radius: 10px;
	}
}

.notary-page-orders-padding {
	padding: 0 5px;
}

.notary-all-order-thead {
	padding: 0 12px;
	box-sizing: border-box;
}

.notary-all-order-thead-col-1 {
	width: 23.8%;
}
.notary-all-order-thead-col-2 {
	width: 20.1%;
}
.notary-all-order-thead-col-3 {
	width: 20.2%;	
}
.notary-all-order-thead-col-4 {
	width: 20.3%;	
}
.notary-all-order-thead-col-5 {
	width: 9.3%;	
}
.notary-all-order-thead-col-6 {
	width: 10.2%;	
}

.notary-available {
	margin-bottom: 40px;
}

.notary-available-order-tabel {
	@include flex(center, space-between);
	width: 100%;
	border-bottom: 1px solid $gray;

	&:last-child {
		border-bottom: none;
	}

	.order-table__cell {
		@include flex(center, center);
		height: 45px;
	}
}

.notary-available-order-thead {
	padding: 0 12px;
	box-sizing: border-box;
}

.table__checkbox-input {
	// display: none;
	width: 18px;
	height: 18px;
}

.notary-available-order__text-area {
	height: 40px;
}

.notary-available-order-thead-col-1 {
	font-size: 0.9rem;
	width: 21%;
}
.notary-available-order-thead-col-2 {
	font-size: 0.9rem;
	width: 15.5%;
}
.notary-available-order-thead-col-3 {
	font-size: 0.9rem;
	width: 8.2%;
}
.notary-available-order-thead-col-4 {
	font-size: 0.9rem;
	width: 8.2%;
}
.notary-available-order-thead-col-5 {
	font-size: 0.9rem;
	width: 8.2%;
}
.notary-available-order-thead-col-6 {
	font-size: 0.9rem;
	width: 8.2%;
}
.notary-available-order-thead-col-7 {
	font-size: 0.9rem;
	width: 21%;
}
.notary-available-order-thead-col-8 {
	font-size: 0.9rem;
	width: 9%;
}

.notary-available-order-body-middle {
	width: 15%;
}

.notary-available-order__input {
	color: $dark-gray;
	font: 1rem Roboto-Thin, Arial, sans-serif;
	border: none;
	text-align: center;
	outline: none;
	width: 97%;
	resize: none;
}

.notary-available-order__button {
	width: 90%;
	height: 30px;
	background-color: $dark-blue;
}

